<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>
<header class="navbar navbar-expand-lg navbar-dark">
    <label class="mt-2 ms-5 font-weight-bold h5"
    ><a th:href="@{/dashboard/}">hotdevjobs</a
    ><span class="logo_com font-weight-bold h5" style="color: white">
          .com</span
    ></label
    >
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/dashboard/}"
                ><i class="fas fa-search"></i>Search for Jobs</a
                >
            </li>
            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/saved-jobs/}">
                    <i class="fa-solid fa-eye"></i>View Saved Jobs</a>
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/job-seeker-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Profile</a>
            </li>
        </ul>
        <img
                class="rounded-circle me-3"
                height="50px"
                width="50x"
                th:if="${user.photosImagePath!=null}"
                th:src="@{${user?.photosImagePath}}"
        />
        <label th:if="${user.firstName != null && user.lastName != null}"
               th:text="${user.firstName+' '+user.lastName}"
               class="nav-item nav-link px-2 me-3">
        </label>

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>
<section class="section">
    <div class="sidenav px-5">
        <div sec:authorize="hasAuthority('Job Seeker')">
            <hr/>

        </div>
    </div>

    <article>

        <div class="box">
            <h1 class="primary-title">Saved Jobs</h1>
        </div>

        <div class="box mt-3">
            <label class="large-label px-3 mb-3">Results</label>
            <th:block th:each="jobPost:${jobPost}">
                <a th:href="@{/job-details-apply/{id}(id=${jobPost.jobPostId})}"
                   style=" text-decoration:none; color:black;">
                    <div onclick="window.location=/job-details-apply/{id}(id=${jobPost.jobPostId})" class="job-row">
                        <div class="row ">
                            <div class="col-md-4">
                                <label class="job-title text-left">
                                    [[${jobPost.jobTitle}]]
                                    <span class="title-span" sec:authorize="hasAuthority('Recruiter')"
                                          th:text="'('+ @{${jobPost.totalCandidates}}+' Candidates Applied)'">(xx candidates applied)</span>
                                    <span class="title-span" sec:authorize="hasAuthority('Job Seeker')"
                                          th:if="${jobPost.isActive == true}">(Applied)</span>

                                </label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label th:text="${jobPost.jobLocationId.city+', '+ jobPost.jobLocationId.state}">
                                    City State</label>
                            </div>
                            <div class="col-md-4 text-right">
                                <label th:text="@{${jobPost.jobCompanyId.name}}">Recruiter Company Name</label>
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>

    </article>


</section>

<!--/ bradcam_area  -->


<script
        type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/popper.js/umd/popper.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<script>

    $('#job').change(function() {
      $('#hidJob').val($(this).val());
    });
    $('#loc').change(function() {
      $('#hidLoc').val($(this).val());
    });
</script>
</body>
</html>
